[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://rcar-env.dgn.renesas.com/gitlab/linuxbsp_yocto/freertos/FreeRTOS-Kernel.git
	branch = freertos_kernel_V11.1.0_rcar_gen5
[submodule "FreeRTOS-Plus/Source/FreeRTOS-Plus-POSIX"]
	path = FreeRTOS-Plus/Source/FreeRTOS-Plus-POSIX
	url = https://rcar-env.dgn.renesas.com/gitlab/linuxbsp_yocto/freertos/Lab-Project-FreeRTOS-POSIX.git
	branch = posix_rcar_gen5
